 /* Ensure only the active slide is visible */
 .carousel-item {
    display: none;
}

.carousel-item.active {
    display: block;
}

/* Make the carousel images responsive */
.carousel-item .crouse-img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.crouse-logo{
    height: 60px;
}
/*  */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.card {
    height: 20rem;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 15px;
    padding: 20px;
    width: 300px;
    text-align: center;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

h2 {
    margin-bottom: 15px;
}

button {
    background-color: #007BFF;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
